installers/*.exe filter=lfs diff=lfs merge=lfs -text
installers/**/*.exe filter=lfs diff=lfs merge=lfs -text
installers/*.msi filter=lfs diff=lfs merge=lfs -text
installers/**/*.msi filter=lfs diff=lfs merge=lfs -text
installers/*.AppImage filter=lfs diff=lfs merge=lfs -text
installers/**/*.AppImage filter=lfs diff=lfs merge=lfs -text
llvm-
mingw/** filter=lfs diff=lfs merge=lfs -text
index_json/library_index.json filter=lfs diff=lfs merge=lfs -text

